<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="/ArticleCommon.css" />
</head>
<body>
  <div id="wrapper">
      <header>
          <div class="title">
              <span>게시판</span>
              <a th:href="@{/article/write}">글쓰기</a>
          </div>
      </header>
      <main>
          <div class="articleList">
              <table class="articleTable listTable">
                  <tr>
                      <th>번호</th>
                      <th>제목</th>
                      <th>내용</th>
                      <th>작성자</th>
                      <th></th>
                  </tr>
                  <tr th:each="article : ${articlePage.getDtoList()}">
                      <td>[[${article.articleId}]]</td>
                      <td>[[${article.articleTitle}]]</td>
                      <td>[[${article.articleContent}]]</td>
                      <td>[[${article.articleAuthor}]]</td>
                      <td>
                          <a th:href="@{/article/modify/{id}(id=${article.articleId})}" class="btn btnModify">수정</a>
                          <a th:href="@{/article/delete/{id}(id=${article.articleId})}" class="btn btnDelete">삭제</a>
                      </td>
                  </tr>
              </table>
              <div class="page">
                  <th:block th:if="${articlePage.prev}">
                      <a th:href="@{/article/list(pg=${(articlePage.start)-1})}" class="prev" >prev</a>
                  </th:block>

                  <th:block th:each="num:${#numbers.sequence(articlePage.start, articlePage.end)}">
                      <a th:href="@{/article/list(page=${num})}" th:class="${num == articlePage.pg} ? 'current' : 'num'">[[${num}]]</a>
                  </th:block>

                  <th:block th:if="${articlePage.next}">
                      <a  th:href="@{/article/list(page=${(articlePage.end)+1})}" class="next">next</a>
                  </th:block>
              </div>
          </div>
      </main>
  </div>
</body>
</html>
